table {
    margin-left: 3%;
}
#studalign{
    margin-left: 40%;
}
#studtbl {

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

}

.menu {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 15px;
}

#menu {
    position: relative;
    left: 40px;
}

#menu:hover {
    color: #f6db5f !important;
    text-decoration: none !important;
}

.buton {
    width: 108px;
    height: 33px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #79AEC8;
}

.buton:hover {
    background-color: #6199b7;
}

#centru {
    padding-top: 15px;
}

#centrusel {
    padding-top: 21px;
}

