{% extends "StudentApp/base.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block title %}{{ site_title }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'StudentApp/style.css' %}"/>
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'StudentApp:main' %}">Academic Students</a></h1>
{% endblock %}


{% block nav-global %}
    <a class="menu" id="menu" href="{% url 'StudentApp:main' %}">Main Page</a>
    <a class="menu" id="menu" href="{% url 'StudentApp:grades' %}">Grades</a>
    <a class="menu" id="menu" href="{% url 'StudentApp:study_contracts' %}">Study Contracts</a>
{% endblock %}
