{% extends "StudentApp/base_site.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Course</th>
            <th>Year</th>
            <th>Teacher</th>
            <th>Grade</th>
        </tr>
        {% for item in table %}
            <tr>
                <td>{{ item.course }}</td>
                <td>{{ item.course.year }}</td>
                <td>{{ item.course.teacher }}</td>
                <td>{{ item.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}