{% extends "StudentApp/base_site.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <form action="{{ app_path }}" method="post" id="grade-form">{% csrf_token %}
        <div class="form-row" align="center">
            {{ form.year.label }} {{ form.year }} &emsp; &emsp; &emsp; {{ form.semester.label }} {{ form.semester }}
        </div>
    </form>
    <table>
        <tr>
            <th>Course</th>
            <th>Teacher</th>
            <th>Nr. of Credits</th>
            <th>Grade</th>
            <th>Period</th>
        </tr>
        {% for course, grade in table %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.teacher }}</td>
                <td>{{ course.number_credits }}</td>
                {% if grade == "None" %}
                    <td>
                        None
                    </td>
                    <td>
                        Undefined
                    </td>
                {% else %}
                    <td>
                        {{ grade.value }}

                    </td>
                    <td>
                        {% if not grade.second_date %}
                            Examination
                        {% else %}
                            Reexamination
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}