{% extends "StudentApp/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'StudentApp/style.css' %}"/>
{% endblock %}

{% block nav-global %}
    <a class="menu" id="menu" href="{% url 'StudentApp:main' %}">Main Page</a>
    <a class="menu" id="menu" href="{% url 'StudentApp:grades' %}">Grades</a>
{% endblock %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'StudentApp/style.css' %}"/>
    <table>
        <tr>
            <th>Course</th>
            <th>Teacher</th>
            <th>Grade</th>
        </tr>
        {% for item in table %}
            <tr>
                <td>{{ item.course }}</td>
                <td>{{ item.course.teacher }}</td>
                <td>{{ item.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}