{% extends "TeacherApp/teacher_main.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% for line in study_lines %}
        <h1>{{ line.name }}</h1>
        <table>
            {% for course in courses %}
                {% if course.study_line == line %}
                    <tr>
                        <td><a href="{% url 'TeacherApp:students' course.id %}">{{ course.name }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p></p>
    {% endfor %}

{% endblock %}