{% extends "TeacherApp/teacher_main.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% for line, years in study_lines %}
        <h1>{{ line }}</h1>
        {% for year in years %}
            <h2>Study Year {{ year }}</h2>
            <table>
                {% for course in courses %}
                    {% if course.study_line == line and course.year == year %}
                        <tr>
                            <td>
                                <a href="{% url 'TeacherApp:students' course_id=course.id group_number=0 period=0%}">{{ course.name }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </table>
        {% endfor %}
        <p></p>
    {% endfor %}

{% endblock %}