{% extends "TeacherApp/teacher_main.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <div class="form-row">
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote" style="width: 145px">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    {{ form.name.errors }}
    {{ form.name.label_tag }} {{ form.name }}
  </div>
    <div class="form-row">
    {{ form.courses.label_tag }} {{  form.courses }}
  </div>
  <div class="submit-row" id="btn">
    <label >&nbsp;</label><input type="submit"  value="Add package!" />
  </div>
</form>

</div>
{% endblock %}
