{% extends "TeacherApp/index.html" %}
{% load i18n admin_static %}
{% load staticfiles %}

{% block content_title %} {% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
    {% if current_year_state.crtState == 'Optional package building going on' %}
        <h1>Proposed unassigned optionals:</h1>
        <table>
            <tr>
                <th>Optional name</th>
                <th>Teacher</th>
                <th>Year</th>
                <th>Semester</th>
                <th>StudyLine</th>
            </tr>
            {% for opt in optionals %}
                <tr>
                    <td id="centru">{{ opt.name }}</td>
                    <td id="centru">{{ opt.teacher }}</td>
                    <td id="centru">{{ opt.year }}</td>
                    <td id="centru">{{ opt.semester }}</td>
                    <td id="centru">{{ opt.study_line }}</td>
                    {#                <button id="centru" class="buton">Add</button>#}
                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'TeacherApp:package_create' %}">
            <button class="buton">Add Optional Package</button>
        </a>
    {% endif %}
    <a href="{% url 'TeacherApp:view_packages' %}">
        <button class="buton">View optional packages</button>
    </a>
    <a href="{% url 'TeacherApp:view_all_courses' %}">
        <button class="buton">View all the courses</button>
    </a>
{% endblock %}