{% extends "TeacherApp/teacher_main.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <h1 id="studalign">Students</h1>
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %} "Please correct the error below."{% else %}"Please correct the errors
                below."{% endif %}
        </p>
    {% endif %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    <table id="studtbl">
        <tr>
            <th>Name</th>
            <th>ID Number</th>
            <th>Group</th>
            <th>Grade</th>
            <th>Action</th>
        </tr>
        {% for student,grade in students %}
            <tr>
                {% if student.id == student_id %}
                    <td id="centrusel">{{ student }}</td>
                    <td id="centrusel">{{ student.id_number }}</td>
                    <td id="centrusel"> {{ student.group.number }}</td>
                    <form action="{{ app_path }}" method="post" id="grade-form">{% csrf_token %}
                        <td id="centru">
                            {{ form.grade }}
                        </td>
                        <td>
                            <input style="width:108px" type="submit" value="Finish Editing" name="edit_button">
                        </td>
                    </form>
                {% else %}
                    <td id="centru">{{ student }}</td>
                    <td id="centru">{{ student.id_number }}</td>
                    <td id="centru"> {{ student.group.number }}</td>
                    <td id="centru">{{ grade }}</td>
                    <td>
                        <a href="{% url 'TeacherApp:edit' course_id=course_id student_id=student.id group_number=group_number %}">
                            <button class="buton">Edit Grade</button>
                        </a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}