{% extends "TeacherApp/teacher_main.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
   <form action="" name="gradeform" method="get">
       {% csrf_token %}
  <select name="selectedcourse" >
    <option selected="selected" disabled>Select Course:</option>
      {% for item in courses %}
        <option >{{item.name}}</option>
        {% endfor%}
  </select>
       <select name="selectedstudent">
    <option selected="selected" disabled>Select Student:</option>
      {% for item in students %}
        <option >{{item.first_name}} {{item.last_name}}</option>
        {% endfor%}
  </select>
       <input type="text" name="grade" size="1"/>
  <input type="submit" value="Select" name="sel">
    </form>


{% endblock %}