{% extends "TeacherApp/teacher_main.html" %}

{% block content_title %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <h1>Students</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>ID Number</th>
            <th>Grade</th>
        </tr>
        {% for student,grade in students %}
            <tr>
                <td id="centru">{{ student }}</td>
                <td id="centru">{{ student.id_number }}</td>
                <td id="centru"> {{ grade }}</td>
                <td ><a href="{% url 'TeacherApp:edit' course_id=course_id student_id=student.id %}">
                    <button class="buton">Edit Grade</button>
                </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}