#buton {
    position: relative;
    left:-25.5px !important;
}
#email{
    position:relative;
}

#lbl{
    position: relative;
    left:0px;
    width: 338px;
    height: 25px;
}
#btn{
    position: relative;
    right: 24px;
}
